{{!--
	"title"						: "CSS Docs",
	"public"					: false,
	"framework"					: true,
	"master"					: "master-framework",
	"body_class"				: "fw"
--}}

<h1>{{title}}</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore hic, voluptatibus, assumenda dolore alias repudiandae quia est reiciendis obcaecati veniam itaque cupiditate eius dicta ipsa, nulla debitis iure consectetur quidem.</p>

{{#extend "sidenav"}}
	<nav class="nav nav--tmp nav--tmp-spaced">
		<ul class="nav__level nav__level-1">
			{{#if styles.variables}}
				<li class="nav__header"><a href="#variables" class="nav__text">Variables</a></li>
			{{/if}}

			{{#if styles.functions}}
				<li class="nav__header"><a href="#functions" class="nav__text">Functions</a>
					<ul class="nav__level nav__level-2">
					{{#each styles.functions}}
						{{#ifCond access '==' 'public'}}
							<li class="nav__item"><a href="#{{_type}}-{{_name}}">{{_name}}</a></li>
						{{/ifCond}}
					{{/each}}
					</ul>
				</li>
			{{/if}}

			{{#if styles.mixins}}
				<li class="nav__header"><a href="#mixins" class="nav__text">Mixins</a>
					<ul class="nav__level nav__level-2">
					{{#each styles.mixins}}
						{{#ifCond access '==' 'public'}}
							<li class="nav__item"><a href="#{{_type}}-{{_name}}">{{_name}}</a></li>
						{{/ifCond}}
					{{/each}}
					</ul>
				</li>
			{{/if}}

			{{#if styles.placeholders}}
				<li class="nav__header"><a href="#placeholders" class="nav__text">Placeholders</a>
					<ul class="nav__level nav__level-2">
					{{#each styles.placeholders}}
						<li class="nav__item"><a href="#{{_type}}-{{_name}}">{{_name}}</a></li>
					{{/each}}
					</ul>
				</li>
			{{/if}}
		</ul>
	</nav>
{{/extend}}


{{#if styles.variables}}
<section id="variables">
	<h1 class="fw-title">Variables</h1>
	<table class="table table--hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Type</th>
				<th>Default value</th>
				<th>Access</th>
			</tr>
		</thead>
		<tbody>
		{{#each styles.variables}}
			<tr>
				<td>{{this._name}}</td>
				<td>{{title}}</td>
				<td>{{this.type}}</td>
				<td>
					{{#ifCond type '==' 'Color'}}
						<span class="key" style="background-color:{{hex}};"></span>
					{{/ifCond}}
					<code class="u-wrap">{{_value}}</code>
				</td>
				<td>
					{{#if access}}
					<span class="label">{{access}}</span>
					{{/if}}
				</td>
			</tr>
		{{/each}}
		</tbody>
	</table>
</section>
{{/if}}

{{#*inline "hoop"}}
	<div class="doc-item" id="{{_type}}-{{_name}}">
		<h2 class="fw-title h3">
			{{#if access}}
				<span class="label">{{access}}</span>
			{{/if}}
			 {{_name}}
		</h2>

		<div style="overflow-x:auto;">
			<pre class="language-scss"><code>{{this._code}}</code></pre>
		</div>

		{{#if this.param.length}}
		<h3>Parameters</h3>
		<table class="table table--hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Type</th>
					<th>Default value</th>
				</tr>
			</thead>
			<tbody>
				{{#each this.param}}
				<tr>
					<td>{{this.name}}</td>
					<td>{{this.description}}</td>
					<td>{{this.type}}</td>
					<td>{{this.default}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
		{{/if}}

		<dl>
			{{#if this.alias}}
			<dt>Alias</dt>
			<dd>{{ this.alias }}</dd>
			{{/if}}

			{{#if this.return}}
			<dt>Return</dt>
			<dd>
				<code>{{ this.return.type }}</code>
				{{ this.return.description }}
			</dd>
			{{/if}}

			{{#if this.output }}
			<dt>Output</dt>
			<dd>{{ this.output }}</dd>
			{{/if}}

			{{#if this.deprecated }}
			<dt>Deprecated</dt>
			<dd>{{ this.deprecated }}</dd>
			{{/if}}

			{{#if this.access }}
			<dt>Access</dt>
			<dd>{{ this.access }}</dd>
			{{/if}}

			{{#if this.group }}
			<dt>Group</dt>
			<dd>{{ this.group }}</dd>
			{{/if}}

			{{#if this.type }}
			<dt>Type</dt>
			<dd>{{ this.type }}</dd>
			{{/if}}

			{{#if this.author.length }}
			<dt>Author</dt>
			<dd>
				<ul class="list list--unstyled">
					{{#each this.author }}
					<li>{{ this }}</li>
					{{/each}}
				</ul>
			</dd>
			{{/if}}

			{{#if this.since.length }}
			<dt>Since</dt>
			<dd>
				<ul class="list list--unstyled">
					{{#each this.since }}
					<li>
						<b>{{ this.version }}</b>
						{{ this.description }}
					</li>
					{{/each}}
				</ul>
			</dd>
			{{/if}}

			{{#if this.link.length }}
			<dt>Links</dt>
			<dd>
				<ul class="list list--unstyled">
					{{#each this.link }}
					<li>
						{{#if this.caption}}
							<a href="{{this.url}}">{{this.caption}}</a>
						{{else}}
							<a href="{{this.url}}">{{this.url}}</a>
						{{/if}}
					</li>
					{{/each}}
				</ul>
			</dd>
			{{/if}}
		</dl>

		{{#if this.example.length }}
		<h3>Example(s)</h3>
		{{#each this.example }}
			<pre>{{this}}</pre>
		{{/each}}
		{{/if}}

		{{#if this.todo.length }}
		<h3>TODO</h3>
		<ul class="list list--unstyled">
			{{#each this.todo }}
			<li>{{this}}</li>
			{{/each}}
		</ul>
		{{/if}}

		<p><code class="label">{{ this._file }}</code> <code class="label">@ line {{ this._line }}</code></p>

	</div>
{{/inline}}

{{#if styles.functions}}
<section id="functions">
	<h1 class="fw-title">Functions</h1>
	{{#each styles.functions}}
		{{> hoop}}
	{{/each}}
</section>
{{/if}}

{{#if styles.mixins}}
<section id="mixins">
	<h1 class="fw-title">Mixins</h1>
	{{#each styles.mixins}}
		{{> hoop}}
	{{/each}}
</section>
{{/if}}

{{#if styles.placeholders}}
<section id="placeholders">
	<h1 class="fw-title">Placeholders</h1>
	{{#each styles.placeholders}}
		{{> hoop}}
	{{/each}}
</section>
{{/if}}
