{{!--
	"title"						: "Templates",
	"public"					: false,
	"framework"					: true,
	"master"					: "master-framework",
	"body_class"				: "fw"
--}}

<h1>{{title}}</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore hic, voluptatibus, assumenda dolore alias repudiandae quia est reiciendis obcaecati veniam itaque cupiditate eius dicta ipsa, nulla debitis iure consectetur quidem.</p>

{{!--
{{#extend "sidenav"}}
	<nav class="nav nav--tmp">
		<ul class="nav__level nav__level-1">
		{{#each this._templates}}
			{{#unless this.framework}}
			<li class="nav__item">
				<a href="{{url}}">
					<span class="nav__text">{{title}}</span>
				</a>
			</li>
			{{/unless}}
		{{/each}}
		</ul>
	</nav>
{{/extend}}
--}}

<div class="grid grid--gutters grid--2@sm grid--3@md grid--5@lg">
{{#each this._templates}}
	{{#unless this.framework}}
	<div class="grid__item" data-page='{{{stringify this}}}'>
		<div class="fw-page fw-page--template">
			<div class="fw-page__container">
				<div class="fw-page__preview">
					{{#if this.preview}}
						{{template_preview this.preview}}
					{{/if}}
				</div>
				<div class="fw-page__body">
					<h3 class="fw-title fw-page__title"><a href="{{url}}">{{title}}</a></h3>
					{{#if this.desc}}
						<p class="copy-meta">{{this.desc}}</p>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
	{{/unless}}
{{/each}}
</div>

