
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-57 328.9 495.4 137.1" style="enable-background:new -57 328.9 495.4 137.1;" xml:space="preserve">
	<g>
		<g transform="translate(-1.000000, -0.013158)">
			<path d="M319.3,413.1l-55-70.1h-14.7v102.7h17.9v-69.6l54.2,69.6h15.5V342.9h-17.9L319.3,413.1L319.3,413.1z"/>
			<path d="M-55,360.3h33.8v85.4h18.8v-85.4h33.8V343H-55L-55,360.3L-55,360.3z"/>
			<path d="M119.7,385.6H69.6v-42.7H50.9v102.7h18.7v-42.7h50.1v42.7h18.7V342.9h-18.7V385.6L119.7,385.6z"/>
			<path d="M158.7,456h34h35.9v-15.1h-35.9h-34V456z"/>
			<path d="M440.4,344.1h-23.8l-37.7,43.2v-44.4h-18.7v102.7h18.7v-44.4l37.7,43.3h23.8l-43.8-50.2L440.4,344.1L440.4,344.1z"/>
		</g>
	</g>
</svg>
